*, *:after, *:before {box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none;}
a:hover {text-decoration: none;}
img {
	width: 100%;
	height: auto;
}
.container {
	width: 95%;
	margin: 0 auto;
}
body {
	padding: 35px 0 45px 0;
	background: #2e2e30;
	font: 400 14px/26px 
}

@media (min-width: 1170px) {
.container {
	width: 75%;
	margin: 0 auto;
}
}