$primary_font: 'Merriweather', serif;
$secondary_font: 'Merriweather Sans', sans-serif;
$primary_font_color: #38383a;
$secondary_font_color: #ffffff;
$primary_head_color: #38383a;
$post_cont_colot: #656565;


